// Scss Document
@font-face
{
	font-family: Be-Vietnam-Pro-thin;
	src: url("../fonts/BeVietnamPro-Thin.ttf");
}
@font-face
{
	font-family: Be-Vietnam-Pro-r;
	src: url("../fonts/BeVietnamPro-Light.ttf");
}
@font-face
{
	font-family: Be-Vietnam-Pro-Md;
	src: url("../fonts/BeVietnamPro-Medium.ttf");
}
@font-face
{
	font-family: Be-Vietnam-Pro-Sb;
	src: url("../fonts/BeVietnamPro-SemiBold.ttf");
}
@font-face
{
	font-family: Be-Vietnam-Pro-B;
	src: url("../fonts/BeVietnamPro-Bold.ttf");
}
@font-face
{
	font-family: Be-Vietnam-Pro-thin-I;
	src: url("../fonts/BeVietnamPro-ThinItalic.ttf")
}
@font-face
{
	font-family: Be-Vietnam-Pro-Light;
	src: url("../fonts/BeVietnamPro-Light.ttf")
}

$color-primary: #EF3153;
$color-blue: #3172EF;
$color-black: #000;
$color-black-2: #1C1C1C;
$color-white:#fff;
$color-light: #FAFAFA;
$color-dark: #555555;
$color-gray: #999999;
$color-gray-2: #838383;
$font-thin: Be-Vietnam-Pro-thin;
$font-light: Be-Vietnam-Pro-Light;
$font-regular: Be-Vietnam-Pro-r;
$font-medium: Be-Vietnam-Pro-Md;
$font-SemiBold: Be-Vietnam-Pro-Sb;
$font-Bold: Be-Vietnam-Pro-B;
$font-thin-I: Be-Vietnam-Pro-thin-I;