@charset "utf-8";
/* CSS Document */

.zoomWrapper
{
	width: 100%;
	position: relative;
}
.zoom-img
{
	width: 100%;
}
.elevatezoom-gallery
{
	width: 25%;
	
	display: block;
	float: left
}

.imgthum
{
	width: 100%;
}